/* Utility */
.m-0{
    margin: 0;
}

.m-auto{
    margin: auto;
}

.my-20 {
    margin: 20px 0px !important;
}

.mr-33 {
    margin-right: 33px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-5 {
    margin-right: 5px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mt-20 {
    margin-top: 20px !important;
}

.w-80 {
    width: 80px;
}

.w-300 {
    width: 300px;
}

.w-20p {
    width: 20%;
}

.w-40p {
    width: 40%;
}

.w-70p {
    width: 70%;
}

.w-95p {
    width: 95%;
}

.w-full {
    width: 100%;
}


/* Comonent */
.txt-white {
    color: #fff;
}
.txt-red {
    color: #dd4b39;
}

.title-kop-surat {
    font-family: "Times New Roman", Times, serif;
    font-size: 24px;
    font-weight: 800;
    margin: 0px;
} 

.title-rt-rw {
    font-family: "Times New Roman", Times, serif;
    font-size: 26px;
    font-weight: 800;
}

.txt-kop-surat {
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    margin: 0px;
}

.txt-judul-surat {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    font-weight: 800;
    text-decoration: underline;
    margin: 0px;
    text-align: center;
}

.divider-kop-1 { 
    border-top: 1px solid #000000;
    margin-bottom: 2px;
}

.divider-kop-2 { 
    border: 2px solid #000000;
    margin-top: 0px;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.image-beranda {
    object-fit: cover;
    width: 100%;
    margin-top: 75px;
}

.img-logo-beranda {
    margin: 26px 0px;
    width: 25%;
}

.img-profile {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.img-kop-surat {
    height: 115px;
}

.btn-beranda {
    width: 40%;
    margin: 34px auto;
}

.footer-customize {
    background: #222d32;
    padding: 25px;
    color: #444;
    border-top: 1px solid #d2d6de;
}

@media (max-width: 992px) {
    .image-beranda {
        display: none;
    }
}

@media (max-width: 768px) {
   
}

@media (max-width: 576px) {
    
}